body {
	margin: 0;
	padding: 0;
}

.app {
	background-color: silver;
	display:grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-columns: auto;
	grid-template-rows: 50px auto 50px;
}

.header {
	background: grey;
	color: white;
	grid-area: header;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 10px;

} .header-item {
	padding: 0 10px;
} .title {
	flex-grow: 2;
} .username {
	align-content: flex-end;
}

.main {
	box-sizing: border-box;
	background: white;
	padding: 10px;
	grid-area: main;
	height: calc(100vh - 100px);

} .btn-entrar {
	height: 40px;

}

.footer {
	background: grey;
	color: white;
	grid-area: footer;
	display: flex;
	align-items: center;
	padding: 0 10px;

}
